# Rename this file to config.properties
# ADO Server Configuration
ado.url=
ado.organization=
ado.project=
ado.repository=

# Authentication - Use a Personal Access Token
# Token should be able to:
# - Pull requests: Read
# NEVER commit real tokens to version control!
ado.auth.token=

# API Versions (optional - defaults provided)
#ado.version.api=7.1
#ado.version.organization=7.0-preview